#about{
    min-height: 100vh;
    .about-container{
        @include flexSpaceB();
        margin: 0 20%;
    }
    .about-social{
        li{
            padding: 10px 0;
        }
        a{
            font-size: 1.2rem;
            color: $colour3;
            transition: all 0.2s;
        }
        a:hover{
            color: $colour1;
        }
    }
    .about-content{
        padding: 0 100px;
        h2{
            font-weight: 700;
            font-size: 2.5rem;
        }
        li{
            list-style-type: square;
        }
        .skills{
            display: flex;
        }
        .column{
            padding-right: 80px;
        }
        
    }
}
