@media screen and(max-width: 1000px){
    #projects{
        margin: 0 10%;
        h1{
            font-size: 2rem;
            margin-bottom: 20px;
        }
        h2{
            margin-bottom: 0;
        }
        
        .project-container{
            @include projectContainer();
            margin: 0 2%;
        .project-title{
            margin-bottom: 0;
        }
        
        .project-description{
            position: static;
            margin: 0;
        }
        }
        .project-container-2{
            @include projectContainer();
            .project-description{
            position: static;
            }
            .project-pic{
                order: 1;
            }
            .project-content{
                order: 2;
            }
        }
    }
}

@media screen and(max-width: 760px){
    .header-container{
        font-size: 1rem;
    }
    #home{
        .home-container{
            min-height: 70vh;
        }
        .home-content{
            margin: 0 3%;
            h1{
                font-size: 3.0rem;
            }
            h2{
                font-size: 2rem;
            }
        }
    }
    #about{
        margin: 0 2%;
        .about-container{
            display: flex;
            flex-direction: column;
        }
        .about-social{
            order: 3;
        }
        .about-content{
            order: 1;
            padding: 0 3%;
        }
        .social{
            display: flex;
            align-items: center;
            justify-content: center;
        li{
            padding: 0 10px;
        }
        }
        
    }
    #projects{
        margin: 0 2%;
        .project-container{
            margin: 10px 0 ;
        }
    }

    #contact{
        margin: 30% 3%;
        h1{
            font-size: 1.5rem;
        }
        span{
            font-size: 1.8rem;
        }
        img{
            width: 28px;
        }
    }

    #footer{
        .footer{
            font-size: 1rem;
        }
    }
}


  