$font0: 'Heebo', sans-serif;
:root{
    --background-color: #fff;
    --text-color: #242424;
    --link: #b1b1b1;
    --box: #414040;
    --project-text: #eee;
    --project-title-link: #414040;
    --blend-mode: normal;
}